<div class="col-12 mt-2">
    <app-menu [pageNow]="2"></app-menu>
</div>
<div class="col-8 m-auto">
    <div class="row">
        <div class="mt-5 row">
            <img src="https://cdn.cellphones.com.vn/media/wysiwyg/Banner/1200-75-max.png" alt="" class="tw-w-full">
        </div>
        <div class="col-12 mt-2">
            <div class="row tw-bg-violet-600 tw-shadow-2xl tw-rounded-md">
                <div class="mt-2 col-12 tw-my-3">
                    <button class="btn btn-danger">Điện thoại Laptop</button>
                    <button class="btn btn-light ms-1">Phụ kiện</button>
                </div>
                <h2 class="text-warning tw-my-4 "><i class="fa-solid fa-bolt fs-1"></i><span
                        class="tw-font-bold ms-1 fs-2 " id="tieuDe">HOT SALES CUỐI TUẦN</span></h2>
                <div class="tw-grid tw-grid-cols-5 gap-2 mb-3">
                    <div
                        class="tw-scale-95 tw-border-2 tw-border-gray-200 hover:tw-border-rose-200 bg-light p-2 tw-rounded-lg tw-shadow-md hover:tw-scale-100 transition tw-duration-150 tw-ease-out hover:tw-ease-in">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/242439/Galaxy-S22-Plus-White-600x600.jpg"
                            alt="">
                        <div class="tw-my-3">
                            <h4 class="tw-text-xl"><a href="">Samsung Galaxy Note 20 Ultra 5G</a></h4>
                            <p class="text-danger tw-font-bold tw-my-2">18.990.000 đ</p>
                            <p class="tw-flex"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i>
                                </span><span class="ms-3 tw-font-bold">21 đánh gia</span></p>
                        </div>
                    </div>
                    <div
                        class="tw-scale-95 tw-border-2 tw-border-gray-200 hover:tw-border-rose-200 bg-light p-2 tw-rounded-lg tw-shadow-md hover:tw-scale-100 transition tw-duration-150 tw-ease-out hover:tw-ease-in">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/226316/samsung-galaxy-s21-ultra-bac-600x600-1-600x600.jpg"
                            alt="">
                        <div class="tw-my-3">
                            <h4 class="tw-text-xl"><a href="">Samsung Galaxy Note 20 Ultra 5G</a></h4>
                            <p class="text-danger tw-font-bold tw-my-2">18.990.000 đ</p>
                            <p class="tw-flex"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i>
                                </span><span class="ms-3 tw-font-bold">21 đánh gia</span></p>
                        </div>
                    </div>
                    <div
                        class="tw-scale-95 tw-border-2 tw-border-gray-200 hover:tw-border-rose-200 bg-light p-2 tw-rounded-lg tw-shadow-md hover:tw-scale-100 transition tw-duration-150 tw-ease-out hover:tw-ease-in">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/223602/iphone-13-midnight-2-600x600.jpg"
                            alt="">
                        <div class="tw-my-3">
                            <h4 class="tw-text-xl"><a href="">Samsung Galaxy Note 20 Ultra 5G</a></h4>
                            <p class="text-danger tw-font-bold tw-my-2">18.990.000 đ</p>
                            <p class="tw-flex"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i>
                                </span><span class="ms-3 tw-font-bold">21 đánh gia</span></p>
                        </div>
                    </div>
                    <div
                        class="tw-scale-95 tw-border-2 tw-border-gray-200 hover:tw-border-rose-200 bg-light p-2 tw-rounded-lg tw-shadow-md hover:tw-scale-100 transition tw-duration-150 tw-ease-out hover:tw-ease-in">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/247507/samsung-galaxy-a52s-5g-mint-600x600.jpg"
                            alt="">
                        <div class="tw-my-3">
                            <h4 class="tw-text-xl"><a href="">Samsung Galaxy Note 20 Ultra 5G</a></h4>
                            <p class="text-danger tw-font-bold tw-my-2">18.990.000 đ</p>
                            <p class="tw-flex"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i>
                                </span><span class="ms-3 tw-font-bold">21 đánh gia</span></p>
                        </div>
                    </div>
                    <div
                        class="tw-scale-95 tw-border-2 tw-border-gray-200 hover:tw-border-rose-200 bg-light p-2 tw-rounded-lg tw-shadow-md hover:tw-scale-100 transition tw-duration-150 tw-ease-out hover:tw-ease-in">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/228743/iphone-12-pro-max-vang-new-600x600-1-600x600.jpg"
                            alt="">
                        <div class="tw-my-3">
                            <h4 class="tw-text-xl"><a href="">Samsung Galaxy Note 20 Ultra 5G</a></h4>
                            <p class="text-danger tw-font-bold tw-my-2">18.990.000 đ</p>
                            <p class="tw-flex"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i>
                                </span><span class="ms-3 tw-font-bold">21 đánh gia</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5 tw-rounded-lg">
          <div class="row">
              <div class="col-6">
                <h2 class="fs-3 tw-font-bold mb-4 text-danger tw-font-bold"><a href="">ĐIỆN THOẠI NỔI BẬT NHẤT</a></h2>
              </div>
              <div class="col-6">
                  <button (click)="filterCate(c.id)"  *ngFor="let c of categories" class=" btn tw-bg-gray-100 tw-rounded-2xl  tw-border-2 tw-border-gray-300" >{{c.name}}</button>
                  <button (click)="onGetList()"  class=" btn btn-danger tw-rounded-2xl ms-1" >Bỏ chọn</button>
              </div>
          </div>
            <div class="col-12">
                <div class="tw-grid tw-grid-cols-5 gap-2 mb-3">
                    <div *ngFor="let p of products" [hidden]="p.status === 1"
                        class="tw-scale-95 p-3 tw-border-2 tw-border-gray-200 hover:tw-border-rose-200 tw-relative tw-rounded-lg bg-light  tw-shadow-md hover:tw-shadow-xl hover:tw-scale-100 transition tw-duration-150 tw-ease-out hover:tw-ease-in">
                        <a [routerLink]="[p.id]"><img src="{{p.img}}" alt=""></a>
                        <i class="fa-brands fa-hotjar tw-absolute tw-top-0 tw-left-0 fs-2 text-danger"></i>
                        <div>
                            <h4 class="tw-text-lg mt-1 tw-mx-2"><a [routerLink]="[p.id]">{{p.name}}</a></h4>
                            <p class="text-danger tw-font-bold tw-my-2">{{p.price | currency:'VND'}}</p>
                            <p class="tw-flex"><span class="text-warning">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                        class="fa-solid fa-star"></i>
                                </span><span class="ms-3 tw-font-bold">21 đánh gia</span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>