<div class="col-8 m-auto">
    <div class="row" style="width: 100%;">
        <div class="col-8   p-0 tw-rounded-lg">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/vsm.png"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/A53-29.png"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/iPhone_11.png"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <ul class="tw-grid tw-grid-cols-4">
                    <li><a routerLink=""
                            [ngClass]="page == 1 ?  'tw-block p-3 tw-text-xl tw-bg-gray-300   hover:tw-bg-gray-100 hover:tw-text-black text-center transition tw-duration-150 tw-ease-out md:tw-ease-in tw-w-full focus:tw-bg-gray-300' : 'tw-block p-3 tw-text-xl tw-bg-white   hover:tw-bg-gray-100 hover:tw-text-black text-center transition tw-duration-150 tw-ease-out md:tw-ease-in tw-w-full focus:tw-bg-gray-300'">Trang
                            chủ</a></li>
                    <li><a routerLink="/phones"
                            [ngClass]="page == 2 ?  'tw-block p-3 tw-text-xl tw-bg-gray-300   hover:tw-bg-gray-100 hover:tw-text-black text-center transition tw-duration-150 tw-ease-out md:tw-ease-in tw-w-full focus:tw-bg-gray-300' : 'tw-block p-3 tw-text-xl tw-bg-white   hover:tw-bg-gray-100 hover:tw-text-black text-center transition tw-duration-150 tw-ease-out md:tw-ease-in tw-w-full focus:tw-bg-gray-300'">Điện
                            thoại</a></li>
                    <li><a routerLink=""
                            class="tw-block p-3 tw-text-xl tw-bg-white  hover:tw-bg-gray-100 hover:tw-text-black text-center transition tw-duration-150 tw-ease-out md:tw-ease-in tw-w-full">Liên
                            hệ</a></li>
                    <li><a routerLink="/admin"
                            class="tw-block p-3 tw-text-xl tw-bg-white  hover:tw-bg-gray-100 hover:tw-text-black text-center transition tw-duration-150 tw-ease-out md:tw-ease-in tw-w-full">Quản
                            trị</a></li>
                </ul>
        </div>
        <div class="col-4">
            <div class="tw-grid tw-grid-rows-3 gap-2">
                <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Asus_Desktop.png" alt=""
                    class="tw-rounded-2xl tw-shadow-xl">
                <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Right_banner_airpod.png" alt=""
                    class="tw-rounded-2xl tw-shadow-xl">
                <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/690-300-RIGHT.jpg" alt=""
                    class="tw-rounded-2xl tw-shadow-xl">
            </div>
        </div>
    </div>
</div>