<div class="tw-bg-white tw-shadow-2xl mt-4 tw-mx-2 tw-mb-24">
    <h3 class="alert alert-success">Chi tiết sản phẩm</h3>
    <div class="tw-mx-3 tw-p-5">
        <form>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" disabled [value]="product && product.name">
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="text" class="form-control" disabled [value]="product && product.price | currency:'VND'">
            </div>
            <div class="mb-3">
                <label class="form-label">Image</label>
                <img [src]="product &&  product.img" alt="" class="tw-w-24 mb-2">
            </div>
            <div class="mb-3">
                <label class="form-label">Status</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="0" disabled
                        [checked]="product && product.status == 0">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Hiển thị
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="1" disabled
                        [checked]="product && product.status == 1">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Ẩn
                    </label>
                </div>

            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="form-select" disabled>
                    <option value="0">{{category.name}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Decription</label>
                <textarea class="form-control" disabled [value]="product && product.desc"></textarea>
            </div>
            <button type="button"
                class="tw-bg-blue-600 tw-text-white outline-none btn hover:tw-bg-blue-800 hover:tw-text-white"
                (click)="cancel()">Quay lại</button>
            <button type="button"
                class="tw-bg-yellow-500 tw-text-white outline-none btn hover:tw-bg-yellow-600 hover:tw-text-white ms-2"
                (click)="goToEdit()">
                Đi đến trang cập nhật sản phẩm
            </button>
        </form>
    </div>


</div>