<div class="row tw-pb-96">
    <div class="tw-py-10 tw-px-16">
        <div class="tw-grid tw-grid-cols-3 tw-gap-10">
          <div class="tw-relative tw-bg-white tw-shadow-2xl tw-h-36 tw-border-2 ">
            <div class="tw-bg-orange-500 tw-text-center tw-p-6 tw-absolute tw-bottom-16  tw-shadow-xl tw-left-2 drop-shadow-lg">
              <i class='far fa-user-circle tw-text-4xl tw-text-white'></i>
            </div>
            <div class="tw-text-right tw-p-3 ">
              <h4 class="tw-font-bold tw-text-2xl">NGÔ VĂN PHONG_PH18006</h4>
              <p class="tw-text-xl tw-my-2">WEB16303_ASS_ANGULAR</p>
            </div>
            <div class="tw-px-2">
              <hr>
            </div>
          </div>
          <div class="tw-relative tw-bg-white tw-shadow-2xl tw-h-36 tw-border-2 ">
            <div class="tw-bg-emerald-800  tw-text-center tw-p-6 tw-absolute tw-bottom-16  tw-shadow-xl tw-left-2 drop-shadow-lg">
              <i class='fas fa-wallet tw-text-4xl tw-text-white'></i>
            </div>
            <div class="tw-text-right tw-p-3 ">
              <h4 class="tw-font-bold tw-text-2xl">REVENUE</h4>
              <p class="tw-text-xl tw-my-2">220,000 USD</p>
            </div>
            <div class="tw-px-2">
              <hr>
            </div>
          </div>
          <div class="tw-relative tw-bg-white tw-shadow-2xl tw-h-36 tw-border-2 ">
            <div class="tw-bg-red-500 tw-text-center tw-p-6 tw-absolute tw-bottom-16  tw-shadow-xl tw-left-2 drop-shadow-lg">
              <i class='fa fa-shopping-cart tw-text-4xl tw-text-white'></i>
            </div>
            <div class="tw-text-right tw-p-3 ">
              <h4 class="tw-font-bold tw-text-2xl">ORDER</h4>
              <p class="tw-text-xl tw-my-2">4 </p>
            </div>
            <div class="tw-px-2">
              <hr>
            </div>
          </div>
          <div class="tw-relative tw-bg-white tw-shadow-2xl tw-h-36 tw-border-2 ">
            <div class="tw-bg-cyan-500  tw-text-center tw-p-6 tw-absolute tw-bottom-16  tw-shadow-xl tw-left-2 drop-shadow-lg">
              <i class='fas fa-poll tw-text-4xl tw-text-white'></i>
            </div>
            <div class="tw-text-right tw-p-3 ">
              <h4 class="tw-font-bold tw-text-2xl">CONTACT</h4>
              <p class="tw-text-xl tw-my-2">4 </p>
            </div>
            <div class="tw-px-2">
              <hr>
            </div>
          </div>
          <div class="tw-relative tw-bg-white tw-shadow-2xl tw-h-36 tw-border-2 ">
            <div class="tw-bg-cyan-500 tw-text-center tw-p-6 tw-absolute tw-bottom-16  tw-shadow-xl tw-left-2 drop-shadow-lg">
              <i class='fa fa-cubes tw-text-4xl tw-text-white'></i>
            </div>
            <div class="tw-text-right tw-p-3 ">
              <h4 class="tw-font-bold tw-text-2xl">PRODUCT</h4>
              <p class="tw-text-xl tw-my-2">4 </p>
            </div>
            <div class="tw-px-2">
              <hr>
            </div>
          </div>
        </div>
      </div>
    
</div>